Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/ParisStreet
Content/Assets/BattleWizardPolyart
Content/Assets/MonsterForSurvivalGame

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcwordspace